//color

$--primary:#287BFF;
$--secondary : #8D8989;
$--black:#000000;
$--white: #FFFFFF;


// background-color
$--bg_basic : rgba(237, 234, 233, 0.38);
$--bg_category: rgba(141, 137, 137, 0.1);
$--bg_overlay: rgba(0, 0, 0, 0.5);